<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,
						initial-scale=1.0">
	<title>WiFi Imaging System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}">
</head>

<body>
	<header>
		<h1 class="heading">WiFi Imaging System</h1>
		<h3 class="title">Dashboard | Imaging System</h3>
	</header>

	<!-- container div -->
	<div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">WiFi Imaging System</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/myImages">My Images</a></li>
                <li class="active"><a href="/shareImage">Share Image</a></li>
                <li><a href="/mysharedimages">My Shared Images</a></li>
                <li><a href="/sharedImages">Shared Images</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </nav>
          <br/><br/>
          <h3>Share your Images to your friends</h3>
          <br/><br/>
          <div class="col-md-4"></div>
          <div class="col-md-4">
          <form action="/toShareBuddy" method="POST">
            <div class="form-group">
                <label for="sel1">Select Buddy:</label>
                <select class="form-control" id="userId" name='userId' required="">
                    {%for i in range(0, len)%}
                    <option value={{dashboard_data[i][0]}}>{{dashboard_data[i][0]}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="form-group">
                <label for="sel1">Select Image you want to share:</label>
                <select class="form-control" id="docID" name='docID'>
                    {%for i in range(0, len1)%}
                    <option>{{dashboard_data1[i][0]}}</option>
                    {%endfor%}
                </select>
            </div>
            <button class="btn btn-primary">Share Image</button>
        </form>
        <span style="color:green">{{res}}</span>
        <span style="color:red">{{err}}</span>
        </div>
         
        

		
	</div>
	<script src="{{url_for('static',filename='index.js')}}"></script>
</body>

</html>
