<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,
						initial-scale=1.0">
	<title>WiFi Imaging System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}">
</head>

<body>
	<header>
		<h1 class="heading">WiFi Imaging System</h1>
		<h3 class="title">Dashboard | Imaging System</h3>
	</header>

	<!-- container div -->
	<div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">WiFi Imaging System</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/myImages">My Images</a></li>
                <li><a href="/shareImage">Share Image</a></li>
                <li><a href="/mysharedimages">My Shared Images</a></li>
                <li class="active"><a href="/sharedImages">Shared Images</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </nav>
          <br/><br/>
          <h3>Shared Images</h3>
          <br/><br/>
          <div class="row">
            {%for i in range(0, len)%}
                <div class="col-md-4">
                <center>
                    <p>Sent by: <span style="color:red">{{dashboard_data[i][0]}}</span></p>
                    <img src={{dashboard_data[i][1]}} height="250" width="250">
                </center>
                </div>
                {%if (i+1)%3==0 %}
                    </div> <br/>
                    <div class="row">
                {%endif%}
            {%endfor%}
            
      </div>
      <br/><br/>
         
        

		
	</div>
	<script src="{{url_for('static',filename='index.js')}}"></script>
</body>

</html>
